<% posts.forEach(function(post){ %>
    <br>
<li style="border: dotted; width: 650px;">
    <span><%=post.content%></span>
    <%if(locals.user&&(user._id.toString()==post.user._id.toString())){%>
        <small><a href="/post/Delete/?id=<%=post._id%>&user=<%=post.user._id%>">Delete</a></small>
       <%}%>
    <br>
    <span style="font-size: 18px; color: black;">Author:- <a href="/users/profile/<%=post.user._id%>"><%=post.user.name%></a></span>
      <%- include('_comments',{post:post}) %>
</li>
<%})%> 