  <title>Ask your Queries..</title>
    
    <div>  
         <%- include('layout.ejs') -%>
     <img style="position: relative; left: 600px;" src="https://www.coolgenerator.com/Data/Textdesign/202111/eaa59c343988c2525ecda7df65127f6c.png" alt="Askuora">
        <% if(!locals.user) {%>
            <a class='sign-in' href="/users/sign-in">sign-in</a>
            <br>
            <a class='sign-up'href="/users/sign-up">sign-up</a>
            <%} else {%>
                <a class='sign-in' href="/users/profile/<%=locals.user.id%>">Profile</a>
                <br>
                <a class='sign-up' href="/users/sign-out">logout</a>
                <%}%>
            </div>
                <div id="home-container">
            <section id="feed-post">
                <h2>Ask Your Question</h2>
                <form action="/post/create" id="new-post-form" method="post">
                    <textarea name="content"  cols="50" rows="4" placeholder="Type Here..."></textarea>
                    <button type="submit">Post</button>
                </form>
             <div id="post-content">
                 <ul>
                     <%- include("_post.ejs") -%>
                 </ul>
             </div>   
            </section>
             <section id="user-friends">
                <h2>All User</h2>
                <%all_user.forEach(user=>{%>
                    <p>
                        <a href="/users/profile/<%=user._id%>"><%=user.name%></a>
                    </p>
                <%})%>
             </section>
    </div>
    <script src="home.js"></script>