  <title><%=title%></title>
    <link rel="stylesheet" href="/css/home.css">
    <%- include('layout.ejs') -%>
    <h1 class="heading">Ask And Answer</h1>
        <% if(!locals.user) {%>
            <a class='sign-in' href="/users/sign-in">sign-in</a>
            <br>
            <a class='sign-up'href="/users/sign-up">sign-up</a>
            <%} else {%>
                <a class='sign-in' href="/users/profile/<%=locals.user._id%>">Profile</a>
                <br>
                <a class='sign-up' href="/users/sign-out">logout</a>
                <%}%>
                <div id="home-container">
            <section id="feed-post">
                <h4>Post</h4>
                <form action="/post/create" id="now-post-form" method="post">
                    <textarea name="content"  cols="50" rows="4" placeholder="Type Here..."></textarea>
                    <input type="submit" value="Post">
                </form>
             <div class="post-content">
                 <ul>
                     <%- include("_post.ejs") -%>
                 </ul>
             </div>   
            </section>
             <section id="user-friends">
                <h2>Friends</h2>
                <%all_user.forEach(user=>{%>
                    <p>
                        <a href="/users/profile/<%=user._id%>"><%=user.name%></a>
                    </p>
                <%})%>
             </section>
    </div>